<header>
  <h1><a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a></h1>
  
  {%- if include.post.bengali_date -%}
    <!-- Display Bengali Date if it exists -->
    <time>{{ include.post.bengali_date }}</time>
  {%- else -%}
    <!-- Fallback to Default Date if Bengali Date doesn't exist -->
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
    <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: date_format }}</time>
  {%- endif -%}
  
</header>
