---
layout: default
---

<article>
  {% include meta.html post=page %}

  {% if page.toc %}
    <nav class="table-of-contents">
      <h2>Table of Contents</h2>
      <ul>
        {% assign toc_html = "" %}
        {% assign headings = page.content | markdownify | split:'<h' %}
        {% for heading in headings %}
          {% if heading contains '1' or heading contains '2' %}
            {% assign heading_number = heading | slice: 0, 1 %}
            {% assign heading_content = heading | split:'>' | last | split:'<' | first %}
            {% assign heading_id = heading | split:'id="' | last | split:'"' | first %}
            {% if heading_id == heading %}
              {% assign heading_id = heading_content | downcase | replace: ' ', '-' %}
            {% endif %}
            <li><a href="#{{ heading_id }}">{{ heading_content }}</a></li>
            {% break %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}

  {{ content }}

  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
